/*---------------- 页面样式调节---------------------- */
:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}
/*---------------- 页面样式调节---------------------- */

/*------------- 自定义字体 ------------------*/
@font-face {
    /* 为载入的字体取名字(随意) */
    font-family: 'redbean';
    /* 字体文件地址(相对或者绝对路径都可以，/source 为根目录 /) */
    src: url(../font/ZhuZiAWan.woff2);
    /* 定义加粗样式(加粗多少) */
    font-weight: normal;
    /* 定义字体样式(斜体/非斜体) */
    font-style: normal;
    /* 定义显示样式 */
    font-display: block;
}
/*------------- 自定义字体end ------------------*/

/* 一图流教程 */
/* 白天模式头图与页脚遮罩 */
[data-theme="light"] #page-header::before {
    background-color: rgba(0, 0, 0, 0.2) !important;
    z-index: -3;
}
[data-theme="light"] #footer::before {
    background-color: rgba(0, 0, 0, 0.2) !important;
    z-index: -3;
}

/* 页脚与头图透明 */
#footer {
    background: transparent !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
}
#page-header {
    background: transparent !important;
}
/* 夜间模式页脚遮罩隐藏 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}
/* 夜间模式页脚头部遮罩隐藏 */
[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}
/* 一图流教程end */

/* 导航栏颜色 */
#page-header.nav-fixed #nav {
    background: linear-gradient(60deg, #ffd7e4 0, #c8f1ff 93%);
    opacity: 0.95;
    backdrop-filter: var(--backdrop-filter);
}
[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.95) !important;
}

/* 鼠标样式 */
#cursor {
    position: fixed;
    width: 16px;
    height: 16px;
    /* 这里改变跟随的底色 */
    background: rgb(57, 197, 187);
    border-radius: 8px;
    opacity: 0.25;
    z-index: 10086;
    pointer-events: none;
    transition: 0.2s ease-in-out;
    transition-property: background, opacity, transform;
}

#cursor.hidden {
    opacity: 0;
}

#cursor.hover {
    opacity: 0.1;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
}

#cursor.active {
    opacity: 0.5;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
    background: linear-gradient(
            -45deg,
            #e8d8b9,
            #eccec5,
            #a3e9eb,
            #bdbdf0,
            #eec1ea
    );
    box-shadow: 0 0 5px rgb(66, 68, 68);
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
    background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}


body::-webkit-scrollbar {
    width: 0;
}

.neko {
    width: 64px;
    height: 64px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812db74be9.png");
    position: absolute;
    right: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(50%);
    cursor: pointer;
    font-family: tzy;
    font-weight: 600;
    font-size: 16px;
    color: #6f42c1;
    display: none;
}

.neko::after {
    display: none;
    width: 100px;
    height: 100px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812d95e6f5.png");
    background-size: contain;
    z-index: 9999;
    position: absolute;
    right: 50%;
    text-align: center;
    line-height: 100px;
    top: -115%;

}

.neko.showMsg::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko:hover::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko.fontColor::after {
    color: #333;
}

/**
 * @description: 滚动条样式  跟猫二选一
 */
@media screen and (max-width:992px) {
    ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important
    }

    ::-webkit-scrollbar-track {
        border-radius: 2em;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(255 255 255 / .3);
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
        border-radius: 2em
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent
    }
}

/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
    animation: huxi_light 4s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
    animation: huxi_dark 4s ease-in-out infinite;
}
@keyframes huxi_light {
    0% {
        box-shadow: 0px 0px 1px 1px #e9f5fa;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #e9f5fa;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #e9f5fa;
    }
}
@keyframes huxi_dark {
    0% {
        box-shadow: 0px 0px 1px 1px #FF66B2;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #FF66B2;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #FF66B2;
    }
}

.loading-img {
    background: url(https://pic.imgdb.cn/item/66937eddd9c307b7e97c8c6f.png) no-repeat center center;
    background-size: cover;
}

/* 雪花特效 */
[data-theme="light"] #snow{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2;
}

/* 雪花黑夜模式不显示 */
[data-theme="dark"] #snow{
    display: none;
}

/* 背景宇宙星光  */
#universe{
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 这个是调置顶的优先级的，-1在文章页下面，背景上面，个人推荐这种 */
    z-index: -1;
}

/* Twikoo 评论样式 */

.tk-input .el-textarea__inner {
    min-height: 120px !important;
}

#twikoo .OwO-body {
    max-width: 100% !important;
}

#twikoo .OwO .OwO-body .OwO-items:nth-child(1),
#twikoo .OwO .OwO-body .OwO-items:nth-child(4) {
    max-height: 360px !important;
}

#twikoo .OwO-items li[title|=menhera] img {
    width: 100% !important;
    margin: 5px 10px;
}

.tk-comment .tk-owo-emotion[alt*=menhera] {
    width: 300px !important;
}

.tk-comment .vemoji[alt|=menhera],
.tk-comment .tk-owo-emotion[alt*=menhera] {
    max-width: 300px !important;
    max-height: 300px !important;
    margin: 8px 1px;
    display: block !important;
}

@media screen and (max-width: 768px) {
    .tk-comment .vemoji[alt|=menhera], .tk-comment .tk-owo-emotion[alt*=menhera] {
        max-width: calc(100% - 30px) !important;
        max-height: calc(100% - 30px) !important;
    }
    .OwO .OwO-body .OwO-items-image .OwO-item[title*=menhera] {
        max-width: calc(50% - 10px);
        box-sizing: border-box;
    }

}

/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '昵称输入QQ号会自动获取昵称、头像与QQ邮箱🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '博客留言要求填写昵称与邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '留下网址以方便与回访🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

/* 头像状态 */
.card-info-avatar .author-status-box {
    position: absolute;
    bottom: 0;
    left: calc(100% - 28px);
    width: 28px;
    height: 28px;
    border: 1px solid #d0d7de;
    border-radius: 2em;
    background-color: #f8f8f8f8;
    transition: 0.4s;
    overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
    background-color: #222222f2;
    border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
    width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
    width: 105px;
    margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
    width: 0;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.4s;
}

.card-widget .card-info-avatar {
    display: inline-block;
    position: relative;
}

/* 波浪css */
.main-hero-waves-area {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -11px;
    z-index: 5;
}
.waves-area .waves-svg {
    width: 100%;
    height: 5rem;
}
/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #f7f9febd;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #f7f9fe82;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #f7f9fe36;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #f7f9fe;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    fill: #18171dc8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    fill: #18171d80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    fill: #18171d3e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    fill: #18171d;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves-area .waves-svg {
        height: 40px;
        min-height: 40px;
    }
}

/* 信息卡片彩带 */
.author_top:hover {
    background: url(https://tuchuang.voooe.cn/images/2023/01/02/snow.gif);
    background-size: cover;
}